@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-red-sw: #e60012;
  --color-gray-sw: rgb(72, 72, 72);
  --font-inter-sans: "Inter", sans-serif;
}
